@import "~bootstrap/scss/bootstrap";

@import "partials/mixins";
@import "partials/reset";
@import "partials/typography";
@import "partials/variables";

header {
    .header-top {
        background-color: $primary-color;

        a {
            color: $text-color;
        }
    }

    .logo-box {
        width: $logo-square-width;
        height: $logo-square-width;
        overflow: hidden;

        img {
            max-width: 100%;
            display: block;
            object-fit: center;
        }
    }

    nav {
        a {
            color: $tertiary-color;

            &:hover {
                color: $primary-color;
                border-bottom: 5px solid $primary-color;
            }
        }
    }
}



main {
    #jumbotron {
        height: 25rem;
        background-image: url(../img/jumbotron.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 0%;
    }

    #comics {
        background-color: $secondary-color;
        padding: 20px 0;

        h5 {
            color: $text-color;
            font-size: 1.25rem;
        }
    }
}

footer {
    .footer-top {
        overflow: hidden;
        background-image: url(../img/footer-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        img {
            position: absolute;
            right: 0;
            top: -150px;
            z-index: 1;
        }
    }

    h3 {
        color: $text-color;
    }

    a {
        color: $text-color;
        opacity: 0.6;
        font-size: .75rem;

        &:hover {
            opacity: 1;

        }
    }
}

.footer-bottom {
    background-color: $secondary-color;

    span {
        color: $primary-color;
    }
}